.skills {
  background-color: #e1ebed;
  padding-block: 20px;
  /* border: 2px solid red; */
}
.skillsLeftRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skillsLeft{
  width: 500px;
  margin-top: 60px;
}
.skillsLeft img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.techIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 360px;
}

.skillIcon {
  border-radius: 10px;
  background-color: #331c52;
  padding: 10px;
  flex-basis: calc(120px - 35px);
}
.skillIcon img {
  width: 100%;
}
.skillsH3 {
  font-size: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {

  .skillsLeft{
    display: none;
  }
  .skillsLeftRight{
    justify-content: flex-start;
  }

}
@media screen and (min-width:577px) and (max-width:768px){
  .skillsLeft{
    display: none;
  }
  .skillsLeftRight{
    justify-content: flex-end ;
  }

}
@media screen and (min-width:768px) and (max-width:900px){
  .skillsLeft{
    width: 300px;
  }

}
@media screen and (min-width:900px) and (max-width:1200px){
  .skillsLeft{
    width: 400px;
  }

}



