.experiance{
    background-color:   #e1ebed;
    /* border: 2px solid; */
    padding-block: 50px;
    
}
.experianceH2{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: start;
}

.experiance1,.experiance2{
    margin-left: 150px;

}
.experiance2{
    margin-bottom: 30px;
}


.company{
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: start;
   
}
.duration, .role{
    margin-bottom: 10px;
    text-align: start;
    

}
.role{
    font-size:small;
}
.company::before{
    content: "";
    display: inline-block;
    position: absolute;
    top:0px;
    left: -42px;
    width: 3px;
    height: 200px;
    background-color:  #291c3a;
}
.company::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:0px;
    left: -50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:  #291c3a;


}

.description{
    margin-top: 15px;
    max-width: 800px;
    line-height: 30px;
    text-align: justify;
    font-size: 16px;
}
.showMore {
    color: #291c3a;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    text-align: start;
}

/* Hide mobile description by default */
.mobile-toggle {
    display: none;
}

/* Show default description for larger screens */
@media screen and (max-width: 576px) {
    .description {
        display: none; /* Hide default description on mobile */
    }

    .mobile-toggle {
        display: block; /* Show toggle for mobile */
    }

    .mobile {
        display: block; /* Show description when toggled */
    }
}



@media screen and (max-width:396px){
    .experiance1,.experiance2{
        margin-left: 40px;
    }
    .company::before{
        left: -20px;
        height: 100px;
    }
    .company::after{    
         left: -30px;

    }

    .company{
        font-size: medium;
    }
   
 

}
@media screen and (min-width:399px) and (max-width:450px){
    .experiance1,.experiance2{
        margin-left: 50px;
    }
    .company::after{    
        left: -40px;

   }
    .company::before{
        left: -30px;
        height: 100px;
    }
   
}

@media screen and (min-width:450px) and (max-width:576px){
    .experiance1,.experiance2{
        margin-left: 70px;
    }
    .company::after{    
        left: -40px;

   }
    .company::before{
        left: -32px;
        height: 100px;
    }
}

@media screen and (min-width:577px) and (max-width:768px){
    .experiance1,.experiance2{
        margin-left: 70px;
    }
    .company::after{    
        left: -40px;

   }
    .company::before{
        left: -32px;
        height: 230px;
    }

   
}
@media screen and (min-width:769px) and (max-width:1200px){
    .experiance1,.experiance2{
        margin-left: 100px;
    }
    .company::after{    
        left: -40px;

   }

    .company::before{
        left: -32px;
        height: 210px;
    }




}
